<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.marcellofabbri.dailyroadmap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/subwayblue"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/subwayblue_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".view.appWidgets.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_one_info" />
        </receiver>

        <activity
            android:name=".view.activities.AddUpdateEventActivity"
            android:parentActivityName=".view.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".view.notificationHandlers.ReminderBroadcast"
            android:enabled="true" />
    </application>

</manifest>